/*
 * WYMeditor : what you see is What You Mean web-based editor
 * Copyright (c) 2008 Jean-Francois Hovinne, http://www.wymeditor.org/
 * Dual licensed under the MIT (MIT-license.txt)
 * and GPL (GPL-license.txt) licenses.
 *
 * For further information visit:
 *      http://www.wymeditor.org/
 *
 * File Name:
 *      skin.css
 *      main stylesheet for the django WYMeditor skin
 *      See the documentation for more info.
 *
 * File Authors:
 *      Daniel Reszka (d.reszka a-t wymeditor dotorg)
 *      Jannis Leidel (jannis@leidel.info)
*/

/*TRYING TO RESET STYLES THAT MAY INTERFERE WITH WYMEDITOR*/
        .wym_skin_semanticeditor p, .wym_skin_semanticeditor h2, .wym_skin_semanticeditor h3,
        .wym_skin_semanticeditor ul, .wym_skin_semanticeditor li { background: transparent url(); margin: 0; padding: 0; border-width:0; list-style: none; }


/*HIDDEN BY DEFAULT*/
        .wym_skin_semanticeditor .wym_area_left          { display: block; }
        .wym_skin_semanticeditor .wym_area_right         { display: block; }


/*TYPO*/    
        .wym_skin_semanticeditor                { font-size: 62,5%; font-family: Verdana, Arial, sans-serif; }
        .wym_skin_semanticeditor h2             { font-size: 110%; /* = 11px */}
        .wym_skin_semanticeditor h3             { font-size: 100%; /* = 10px */}
        .wym_skin_semanticeditor li             { font-size: 100%; /* = 10px */}


/*WYM_BOX*/
        .wym_skin_semanticeditor                { border: 0px; background: none; padding: 10px}

    /*auto-clear the wym_box*/
        .wym_skin_semanticeditor:after 	        { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
 * html .wym_skin_semanticeditor                { height: 1%;}


/*WYM_HTML*/
        .wym_skin_semanticeditor .wym_html               { width: 98%;}
        .wym_skin_semanticeditor .wym_html textarea      { width: 100%; height: 200px; border: 1px solid #ccc; background: white;  }


/*WYM_IFRAME*/
        .wym_skin_semanticeditor .wym_iframe             { width: 98%;}
        .wym_skin_semanticeditor .wym_iframe iframe      { width: 100%; height: 400px; border: 1px solid #ccc; background: white }


/*AREAS*/
        .wym_skin_semanticeditor .wym_area_left          { width: 150px; float: left;}
        .wym_skin_semanticeditor .wym_area_right         { width: 150px; float: right;}
        .wym_skin_semanticeditor .wym_area_bottom        { clear: both; display: none;}
 * html .wym_skin_semanticeditor .wym_area_main          { height: 1%;}
 * html .wym_skin_semanticeditor .wym_area_top           { height: 1%;}
 *+html .wym_skin_semanticeditor .wym_area_top           { height: 1%;}

/*SECTIONS SYSTEM*/

    /*common defaults for all sections*/
        .wym_skin_semanticeditor .wym_section            { margin-bottom: 5px; }
        .wym_skin_semanticeditor .wym_section h2,
        .wym_skin_semanticeditor .wym_section h3         { padding: 1px 3px; margin: 0; color:#333; }
        .wym_skin_semanticeditor .wym_section a {
            padding: 0 5px;
            display: block;
            text-decoration: none;
            color: #903;
            margin: 4px 0;
            background-color: #cde8cd;
            border: 1px solid #cde8cd;
        }
        .wym_skin_semanticeditor .wym_section a:hover {
            background-color: #903;
            border: 1px solid #903;
            color: #cde8cd;
        }

        .wym_skin_semanticeditor .wym_section a.disabled,
        .wym_skin_semanticeditor .wym_section a.disabled:hover
        {
            color: #888;
            cursor: default;
            background-color: #dde8dd;
            border: 1px solid #dde8dd;
        }
        .wym_skin_semanticeditor .wym_section a.used {
            border: 1px solid #903;
        }
      /*hide section titles by default*/
        .wym_skin_semanticeditor .wym_section h2         { display: none; }
      /*disable any margin-collapse*/
        .wym_skin_semanticeditor .wym_section            { padding-top: 1px; padding-bottom: 1px; }    
      /*auto-clear sections*/
        .wym_skin_semanticeditor .wym_section ul:after   { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
 * html .wym_skin_semanticeditor .wym_section ul         { height: 1%;}

    /*option: add this class to a section to make it render as a panel*/
        .wym_skin_semanticeditor .wym_panel              { }
        .wym_skin_semanticeditor .wym_panel h2           { display: block; }

    /*option: add this class to a section to make it render as a dropdown menu*/
        .wym_skin_semanticeditor .wym_dropdown h2        { display: block; }
        .wym_skin_semanticeditor .wym_dropdown ul        { display: none; position: absolute; background: white; }
        .wym_skin_semanticeditor .wym_dropdown:hover ul,
        .wym_skin_semanticeditor .wym_dropdown.hover ul  { display: block; }

        .wym_skin_semanticeditor .wym_tools ul  { padding-left: 0px !important; margin-left: 0px; }
        
    /*option: add this class to a section to make its elements render buttons (icons are only available for the wym_tools section for now)*/
        .wym_skin_semanticeditor .wym_buttons li         { float:left;}
        .wym_skin_semanticeditor .wym_buttons a          { width: 20px; height: 20px; overflow: hidden; padding: 2px }
      /*image replacements*/
        .wym_skin_semanticeditor .wym_buttons li a                         { background: url(icons.png) no-repeat; text-indent: -9999px;} 
        .wym_skin_semanticeditor .wym_buttons li.wym_tools_strong a        { background-position: 0 -382px;}
        .wym_skin_semanticeditor .wym_buttons li.wym_tools_emphasis a      { background-position: 0 -22px;}
        .wym_skin_semanticeditor .wym_buttons li.wym_tools_superscript a   { background-position: 0 -430px;}
        .wym_skin_semanticeditor .wym_buttons li.wym_tools_subscript a     { background-position: 0 -454px;}
        .wym_skin_semanticeditor .wym_buttons li.wym_tools_ordered_list a  { background-position: 0 -48px;}
        .wym_skin_semanticeditor .wym_buttons li.wym_tools_unordered_list a{ background-position: 0 -72px;}
        .wym_skin_semanticeditor .wym_buttons li.wym_tools_indent a        { background-position: 0 -574px;}
        .wym_skin_semanticeditor .wym_buttons li.wym_tools_outdent a       { background-position: 0 -598px;}
        .wym_skin_semanticeditor .wym_buttons li.wym_tools_undo a          { background-position: 0 -502px;}
        .wym_skin_semanticeditor .wym_buttons li.wym_tools_redo a          { background-position: 0 -526px;}
        .wym_skin_semanticeditor .wym_buttons li.wym_tools_link a          { background-position: 0 -96px;}
        .wym_skin_semanticeditor .wym_buttons li.wym_tools_unlink a        { background-position: 0 -168px;}
        .wym_skin_semanticeditor .wym_buttons li.wym_tools_image a         { background-position: 0 -121px;}
        .wym_skin_semanticeditor .wym_buttons li.wym_tools_table a         { background-position: 0 -144px;}
        .wym_skin_semanticeditor .wym_buttons li.wym_tools_paste a         { background-position: 0 -552px;}
        .wym_skin_semanticeditor .wym_buttons li.wym_tools_html a          { background-position: 0 -193px;}
        .wym_skin_semanticeditor .wym_buttons li.wym_tools_preview a       { background-position: 0 -408px;}

/*CLASSES*/
        .wym_skin_semanticeditor .wym_classes ul             { overflow-y: auto;
                                                               overflow-x: visible; }


/*DECORATION*/
        .wym_skin_semanticeditor .wym_section h2             { background: #fff;}
        .wym_skin_semanticeditor .wym_section h2 span        { color: gray;}
        .wym_skin_semanticeditor .wym_panel                  { padding: 0; background: white;}    
        .wym_skin_semanticeditor .wym_panel ul               { margin: 2px 0 5px; }        
        .wym_skin_semanticeditor .wym_dropdown               { padding: 0; border: solid gray; border-width: 1px 1px 0 1px; }
        .wym_skin_semanticeditor .wym_dropdown ul            { border: solid gray; border-width: 0 1px 1px 1px; margin-left: -1px; padding: 5px 10px 5px 3px;}
        
/*DIALOGS*/
        .wym_dialog div.row         { margin-bottom: 5px;}
        .wym_dialog div.row input   { margin-right: 5px;}
        .wym_dialog div.row label   { float: left; width: 150px; display: block; text-align: right; margin-right: 10px; }
        .wym_dialog div.row-indent  { padding-left: 160px; }
        /*autoclearing*/        
        .wym_dialog div.row:after            { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
        .wym_dialog div.row                  { display: inline-block; }
            /* Hides from IE-mac \*/
            * html .wym_dialog div.row       { height: 1%; }
            .wym_dialog div.row              { display: block; }
            /* End hide from IE-mac */                

/*WYMEDITOR_LINK*/
        a.wym_wymeditor_link        { text-indent: -9999px; float: right; display: block; width: 50px; height: 15px; background: url(../wymeditor_icon.png);  overflow: hidden; text-decoration: none;  }


/* SEMANTIC EDITOR PRESENTATION CONTROLS */
    div.prescontrol             { }
	.prescontrol td             { padding: 0; }
	.prescontrolheadings        { margin-right: 260px; }
	.prescontrolheadings select { background: inherit; border: none; width: 100%;}
	.prescontrolclasslistcont div { clear:left; }
	.prescontrolclasslist         { overflow-y: scroll; border: none; }
	.prescontrolerror           { color: red; text-align: center; padding-top: 5px; }
	.prescontrolclasslistcont {width: 220px; float: right;}
	.prescontrol .prescontrolclasslist label {
	    /* Override some stuff set by Django admin CSS*/
	    display: inline;
	    width: auto;
	    float: none;
	    /* Make them harder to 'fall off' w.r.t tooltips */
	    line-height: 1.5em;
	    font-size: 100%;
	}
        .prescontrol .prescontrolheadings label {
            display: inline; /* override hiding */
            width: auto;
            float: none;
        }

    .prescontrol td {border: none;}    

/* TOOLTIPS */

	.orbitaltooltip-simplebox {
	    background: #ddd;
	    width: 300px;
	    height: auto;
	    min-height: 100px;
	    max-height: 260px;
	    overflow-y: scroll;
	    overflow-x: hidden;
	    border: 2px solid #607e98;
	    padding: 2px;
	}

/* PREVIEW */
	.previewbox {
	    background: #fff;
	    width: 400px;
	    height: 400px;
	    overflow-y: scroll;
	    overflow-x: hidden;
	    border: 2px solid #008000;
	    padding: 4px;
	}

	.previewbox .structural {
	    border: 2px solid #888;
	    margin: 2px;
	    padding: 2px;
	    overflow: hidden;
	}

	.previewbox .tagh1,
	.previewbox .tagh2,
	.previewbox .tagh3,
	.previewbox .tagh4,
	.previewbox .tagh5,
	.previewbox .tagh6 {
	    font-weight: bold;
	}

	.previewbox .row
	{
	    clear: left;
	}

	.previewbox .columns2,
	.previewbox .columns3,
	.previewbox .columns4
	{
	    /* Can show row structure here if desired

	    border: 1px solid red;
	    padding: 2px;
	    margin-bottom: 3px; */
	}

	.previewbox .columns2 .column {
	    float: left;
	    width: 50%;
	}

	.previewbox .columns3 .column {
	    float: left;
	    width: 33%;
	}
	.previewbox .columns4 .column {
	    float: left;
	    width: 25%;
	}

.prescontrolheadings select { border: 1px solid #ccc; font-size: 110%;}
.prescontrolheadings option {color: #666;}
.prescontrolheadings option.column  {color: blue; }
.prescontrolheadings option.row  {color: black; }